body{
    margin: 0%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3498d8;
}

.icon-bar {
    width: 600px;
    background: #48e1ec;
}
.icon-bar a {
    float: left;
    width: 15%;
    text-align: center;
    padding: 12px;
    transition: all 0.3s ease;
    color: #555;
    font-size: 36px;
}
.icon-bar a:hover {
    background: #e74c3c;
    color: #fff;
}
.active {
    background: #e74c3c;
    color: #3498d8 !important;
}